.show {
  display: unset;
}

.hide {
  display: none;
}

.join,
.leave {
  border-radius: 4px;
  background: none;
}

.join {
  border: solid 1px black;
}

.leave {
  border: solid 1px red;
  color: red;
}
