.show {
  display: unset;
}

.hide {
  display: none;
}

.join,
.leave {
  border-radius: 4px;
  background: none;
}

button {
  width: 130px;
  border: solid 1px;
  padding: 10px;
}

.join {
  border-color: black;
}

.leave {
  border-color: red;
  color: red;
}
